<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>
  <header>
    <nav>
      <a href="/"><h3><span class="accent">@Directory</span>.Home</h3></a>
      <ul>
      <a href="/blog/">Blog</a>
      <a href="/about/">About</a>
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
  <nav>
  </nav>
  Copywritten and copyright &copy; 2025
  </footer>
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <!-- Leaflet.js -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <!-- Hotkeys.js -->
  <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
  
  <!-- Keyboard Shortcut Script -->
  <script>
    // Only set up hotkeys if search input exists
    if (document.querySelector('input[name="q"]')) {
      hotkeys('/', function(event) {
        event.preventDefault();
        document.querySelector('input[name="q"]').focus();
      });
    }
  </script>
</body>
</html> 